.cell {
  display: flex;
  margin: 0px;
  padding: 2px;

  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;

  height: 39px;
  cursor: pointer;
  font-size: 15px;
  border: 1px solid #b3d8fb;
  text-align: right;

  p {
    text-align: center;
    height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &--selected {
    border: 1.5px solid #1890ff;
  }
  &--id {
    width: 60px;
    justify-content: center;
  }
  &--firstName {
    width: 110px;
  }
  &--lastName {
    width: 110px;
  }
  &--email {
    width: 190px;
  }
  &--phone {
    width: 120px;
  }
  &--streetAddress {
    width: 160px;
  }
  &--city {
    width: 150px;
  }
  &--state {
    width: 34px;
    justify-content: center;
  }
  &--zip {
    width: 50px;
  }
  &--description {
    width: 580px;
  }
}
