.cell {
  display: flex;
  margin: 10px;
  padding: 2px;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  width: 120px;
  height: 39px;
  max-width: 120px;
  p {
    height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  border: 1px solid #b3d8fb;
  &--selected {
    border: 1px solid #1890ff;
  }

  font-size: 15px;
}
