.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  &-pagination {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  &-output {
    margin-top: 30px;
    &__item {
      margin-top: 10px;
      font-size: 18px;
      font-family: sans-serif;
      textarea {
        min-height: 20px;
      }
    }
  }
}
